@import url('https://fonts.googleapis.com/css2?family=Benne&family=Mada:wght@300;400&display=swap');

h1 {
  font-family: Mada;
  color: darkolivegreen;
}

h2 {
  font-family: Mada;
  color: olivedrab;
}

h3 {
  font-family: Mada;
  color: olive;
}

body {
  font-family: Mada;
  color: black;
}

a {
  color: olive;
}

a:hover, a:focus {
    color: olivedrab;
    text-decoration: underline;
}

pre.r {
  color: black;
}

span.hljs-comment {
  color: teal;
}